.table__bg {
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.wood__bg {
  background-color: #594000;
  background-image: url('https://www.transparenttextures.com/patterns/tileable-wood-colored.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
