.no__highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text__stroke {
  -webkit-text-stroke: 1.5px white;
}
.marble-text {
  font-size: 48px;
  background-image: url('../../assets/images/epoxy/black_marble.jpg');
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
