.no__highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text__stroke {
  -webkit-text-stroke: 1.5px white;
  /* -webkit-text-stroke: 1px #f5f5f5; */
}

